.catalogMainTopMenu{
    display: flex;
    justify-content: space-between;
}
.catalogMainTopMenu li{
    text-transform: uppercase;
    padding: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #003767;
}
.mb{
    margin-bottom: 20px;
}