.relatedProductInfoProductBlock {
  margin-top: 30px;
}
.relatedProductBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  gap: 10px;
}
@media screen and (max-width: 576px) {
  .relatedProductBlock {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
