.productCartPriceBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .productCartPriceBlock {
    justify-content: flex-start;
  }
}
