.quantityButtonBlock {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.qntButtons {
  width: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartButtons {
  width: 271px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
  .quantityButtonBlock {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .qntButtons {
    width: auto;
  }
  .cartButtons {
    gap: 25px;
    width: auto;
  }
}
@media screen and (max-width: 576px) {
  .cartButtons {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }
}
